/*-----------
 Font Style 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common styles and utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

/*-------------
 Banner Styles 
 --------------*/
.header {
    background-color:
        #562EFF;


    display: flex;
    margin: 0;


}

.header-logo {
    display: flex;
    gap: 15px;
    padding-left: 285px;
    margin: 0;

}

.idea-img {
    padding-: 17px;
    margin: 0;
}

.idea {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    padding-top: 20px;


}

img {
    width: 40.42px;
    height: 51px;
    padding-left: 36px;
    padding-top: 23px;

}

.buttons {
    display: flex;
    padding-left: 1024px;
    padding-top: 36px;
    color: #FFFFFF;
}

.button {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;


}

.btn1 {
    text-decoration: none;
    padding-left: 36px;
    color: #FFFFFF;

}

.btn2 {
    text-decoration: none;
    padding-left: 36px;
    color: #FFFFFF;
}

.btn3 {
    text-decoration: none;
    padding-left: 36px;
    color: #FFFFFF;
}

/*--------------
 Players Sstyles
 ----------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-player {
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    padding-left: 50px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 55px;
}

.player {
    display: flex;
    gap: 16px;

}

.player-name {
    padding-left: 18px;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
}